#set($layout = 'layout/default.vm')
<script>
    function addAdposition() {
        window.location.href=appServer+"/adposition/add.htm?adpositionTypeId="+$("#adpositionId").val();
    }
    function addAdpositionType() {
        window.location.href=appServer+"/adPositionType/add.htm";
    }
</script>
<body>
<div class="main">
    <h2>请选择要新增的项目</h2>
    <p class="edit">说明：左侧一级分类表示广告位分类，二级分类表示广告位</p>
    <br/>
    <input type="hidden" id="adpositionId" value="$!{adpositionId}">
    <input type="button" class="btn" onclick="addAdpositionType()" value="新增广告位分类"/>
    <br><br>
    <input type="button" class="btn" onclick="addAdposition()" value="新增广告位"/>
    <div class="clear"></div>
</div>
</body>