<script src="$!{appServer}/scripts/advertisement/adPosition.js" type="text/javascript"></script>
<div class="main">
    <form id="searchForm" action="$!{appServer}/adposition/add.htm" method="post">
    <h2>新增广告位</h2>
	<div id="addTypeForm" class="formBox">
			<div class="div-1">
	            <div class="content">
	            		<table class="c2" style="width:90%;">
			             	<tr>
				            	<th><span style="color:red">*</span>广告位名称：</th>
				            	<td>
				            		<input type="text" id="name" name="name" maxlength="20" onkeyup="this.value=this.value.replace(/\s+/g,'')"/>
				            		<span id="nameInfo" style="color:red"></span>				            	
				            	</td>				            	
				            </tr>
				            <tr>
				            	<th><span style="color:red">*</span>广告位编码：</th>
				            	<td>
				            		<input type="text" id="code" name="code" maxlength="15" onchange="checkCode(this.value)" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')"/>
				            		<span id="codeInfo" style="color:red"></span>
				            	</td>				            	
				            </tr>				            
				            <tr>
				            	<th><span style="color:red">*</span>所属分类：</th>
				            	<td>
									#if($!adpositionType)
                                        <input type="hidden" id="adPositionTypeId" name="adPositionTypeId" maxlength="50" style="width:77%;" value="$!{adpositionType.id}"/>
                                        <input type="text" disabled="disabled" value="$!{adpositionType.name}">
									#else
                                        <select id="adPositionTypeId" name="adPositionTypeId" style="width:135px;">
                                            <option value="" >请选择</option>
											#foreach($item in $adPositionTypeList)
                                                <option value="$!{item.Id}" >$!{item.name}</option>
											#end
                                        </select>
									#end
					            	#*<select id="adPositionTypeId" name="adPositionTypeId" style="width:135px;">
						    				<option value="" >请选择</option>	
						    			#foreach($item in $adPositionTypeList)
						    				<option value="$!{item.Id}" >$!{item.name}</option>	
						    			#end
									</select>*#

									<span id="adPositionTypeInfo" style="color:red"></span>
				            	</td>				            	
				            </tr>
				            <tr>
				            	<th>广告位描述：</th>
				            	<td>
				            		<input type="text" id="description" name="description" style="width:500px;" maxlength="30"/>
				            		##<textarea  id="description" name="description" style="width:300px;height:50px;"></textarea>
				            	</td>
				            </tr>
				            <tr>
				            	<th>广告位模板：</th>
				            	<td colspan="2">
				            		<textarea  id="template" name="template" style="width:500px;height:200px;"  maxlength="20000"></textarea>
				            		<span id="templateInfo" style="color:red"></span>
				            	</td>				            	
				            </tr>				            				         				         
	        			</table>	        	
	        		</div>
				</div>
	        		</div>
	        		<div class="form-but"><!-- 表单按钮区 -->
	   
		            <input type="button" value="保存" onclick="sub()" id="saveIdentityId"  class="button-s4"/>

		            <input type="button" id="back" name="back" class="button-s4" value="返回" onclick="JavaScript:history.forward()">
		        </div>
			    </form>
		    </div>
