<script>
	function edit(id){
		window.location.href=appServer+"/adposition/edit.htm?id="+id;
	}
	function del(id,code){

        $.ajax({
            type : "post",
            dateType : "json",
            url : "$!appServer/ajax/existAdertisement.json",
            cache : false,
            data : {
                adpositionCode : code
            },
            success : function(result) {

                if(result.message != null ){
                    alert(result.message+"，无法删除，请先删除广告位下所有广告！");
                }else{
                    if(confirm("确认删除？")){
                        window.location.href=appServer+"/adposition/delete.htm?id="+id;
                    }
				}
            },
            error : function() {
                alert("网络连接失败！");
            }
        });


	}
	function add(){
		window.location.href=appServer+"/adposition/add.htm";
	}
</script>
<div class="main">
	<form id="searchForm" action="$!{appServer}/adposition/list.htm" method="post" >
		<div class="searchBox" style="width:100%">
				<h5><span>搜索</span></h5>
	    		<table>
					<tr>	
						<th>名称：</th>
		                <td>
		                	#springBind("query.name")
		                	<input type="text" id="name" name="${status.expression}" value="$!{status.value}" />
		                 </td>
		                 <td>&nbsp;&nbsp;</td>
			        	<!--<th>编号:</th>
			        	<td>
			        	#springBind("query.code")
			        	<input type="text" id="code" name="code" maxlength="20" value="$!{status.value}"/>
			        	</td>-->
			        	<td>&nbsp;&nbsp;</td>			        	
			            <th>所属分类:</th>
			        	<td>
			        		#springBind("query.adPositionTypeId")
			        		<select id="adPositionTypeId" name="${status.expression}" style="width:135px;">
		            			<option value="" >请选择</option>
		            			#foreach($item in $!adPositionTypeList)
				    				<option value="$!{item.Id}" #if($!{status.value} == $!{item.id}) selected #end>$!{item.name}</option>	
				    			#end
		            		</select>
		            	</td>
		            	<td>&nbsp;&nbsp;</td>
			            <td>
			                <input type="submit" name="Submit" value="搜索" class="btn"/>&nbsp;&nbsp;<input type="button" value="清空" class="btn" id="clearInput"/>
			            </td>
			        </tr>
				</table>
		</div>
    </form>
	<div class="tool">
		 <button type="button" class="btn" align="right" onclick="add()">新增广告位</button>
	</div>
		<div class="listBox">
		<h5><span>广告位列表</span></h5>
		<table style="width:100%;vertical-align: middle;text-align: center;">
			<tr>
				<th style="vertical-align: middle !important;text-align: center;">名称</th>
				##<th style="vertical-align: middle !important;text-align: center;">编号</td>	
				<th style="vertical-align: middle !important;text-align: center;">所属分类</th>
				<th style="vertical-align: middle !important;text-align: center;">描述</th>
				<th style="vertical-align: middle !important;text-align: center;">创建时间</td>
				<th style="vertical-align: middle !important;text-align: center;">修改时间</td>
				<th style="vertical-align: middle !important;text-align: center;">操作</th>
	        </tr>
	        #if($!{query} && ${query.totalCount} > 0)
	            #foreach($record in ${query.getData()})
	                <tr #if($!{velocityCount} % 2 == 0) class="bg" #end>					
						<td>$!{record.name}</td>
						##<td>$!{record.code}</td>
	            		<td>$!{record.adPositionTypeName}</td>
	            		#if($!{record.description}=="")
	            			<td>--</td>
	            		#else
	            			<td>$!{record.description}</td>
	            		#end
	            		<td>$!{dateTool.format("yyyy-MM-dd HH:mm:ss",$!{record.gmtCreate})}</td>
	            		<td>$!{dateTool.format("yyyy-MM-dd HH:mm:ss",$!{record.gmtModify})}</td>
	            		<td>
	            		<a href="#" onclick="edit(${record.id})">编辑</a>
						#if($!{record.definyType}!="system")
							<a href="#" onclick="del(${record.id},'${record.code}')">删除</a>
						#end

	            		</td>
	                </tr>
	            #end            
	        #end
        </table>
		<div class="pages-box" >
			<div class="pages">
				#pager($!{query},'searchForm')
            </div> 
         </div>
	</div>
</div>
