<script charset="utf-8" src="${appServer}/scripts/kindEditor/kindeditor-min-unupload.js"></script>
<script charset="utf-8" src="${appServer}/scripts/kindEditor/lang/zh_CN.js"></script>
<div class="main">
    <form id="searchForm">
    <h2>模板详情</h2>
	<div id="addTypeForm" class="formBox">
			<div class="div-1">
	            <div class="content">
	            		<table class="c2" style="width:90%;">
			             	<tr>
				            	<th>短信类型：</th>
				            	<td>
				            		<span>$!smsModel.smsType</span>				           		
				            	</td>
				            </tr>
				            <tr>
				            	<th>短信编码：</th>
				            	<td>
				            		<span>$!smsModel.smsCode</span>
				            	</td>
				            </tr>	
				            <tr>
				            	<th>状态：</th>
				            	<td>
				            		<span>$!EnumSmsModelStatusMap.get($!{smsModel.status}).name</span>
				            	</td>				            
				            </tr>
				            <tr>
					             <th>创建时间：</th>
					             <td>
					             	<span>$!{dateTool.format("yyyy-MM-dd HH:mm:ss",$!{smsModel.gmtCreate})}</span>
					             </td>
					        </tr>
				            <tr>
					             <th>修改时间：</th>
					             <td>
					             	<span>$!{dateTool.format("yyyy-MM-dd HH:mm:ss",$!{smsModel.gmtModify})}</span>					             	
					             </td>
				            </tr>			            				            
				            				            				            				            
				            <tr>
				            	<th>模板内容：</th>
				            	<td colspan="3">
				            		<span>
					            		##<div class="details">
											#direct($!{smsModel.smsContent})
							            ##</div>	
						            </span>			            		
				            	</td>
				            </tr>				            	            				            				         				         
	        			</table>	        	
	        		</div>
				</div>
	        		</div>
	        		<div class="form-but"><!-- 表单按钮区 -->	   		           
		            <input type="button" id="back" name="back" class="button-s4" value="返回" onclick="location.href='/smsModel/list.htm'">
		        </div>
			    </form>
		    </div>
